name: Deploy to Development

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  deploy-dev-trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Deploy to Development
        run: echo "Trigger Deploy to Development"

  deploy-dev:
    runs-on: ubuntu-latest
    needs: deploy-dev-trigger
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Deploy to Development
        run: |
          # Add deployment to development commands here
